{% extends "base.html" %}

{% block body %}
<div class="container about-page-container">
    <h1 class="about-page-title">ABOUT</h1>
    <h4>We are always searching for happiness</h4>
    <p>
      Happiness is usually linked to having a good quality of life.There are thousands of books written about happines. There are unlimited amount of podcasts that can help you live a ‘happier’ life. There are even scientific studies whose goal is to understand the variables that make up happiness. It seems like we are all constantly in pursuit of happiness. Happiness is constantly being rated on different levels. How happy are you on a scale from 1-10? Which careers brings the most happiness? What countries are the happiest countries in the world?
    </p>
      <h4>Happiness-Suicide Paradox</h4>
    <p>
      Every year the United Nations releases a World Happiness Report. In 2020, 153 countries were rated and to no surprised the “happiest” countries at the top of the chart are developed, first world countries. However, the same “happy” countries of the world are not necessarily at the bottom of the Suicide Rates by Country Report. Shouldn’t the happiest places on earth have less people resorting to suicide? Although it would make sense for the answer to that questions to be “Yes”, the sad truth is No. Meik Wiking (TEDx video) proved that the happiest countries in the world actually have slightly higher rates of suicide.
    </p>
    <h4>“Happiness” is Overrated</h4>
  <p>
      
      
      A very clear trend in the World Happiness Report is that countries as the top of the list have highers GDP’s and than those at the bottom. Other variables that seems to be consistent among the the happiest countries is better social support and freedom to make life choices. What this World Happiness Report fails to recognize is that happiness is subjective. Being a richer and freer country does not mean happiness for all the people that reside in that particular country. The reason why suicide rates are slightly higher in the happiest countries is because people tend to compare their happiness level to the happiness of those around them, and it is very hard to be unhappy in a happy place, to the point that it becomes unbearable. 
      </p>
</div>
{% endblock %}